body {
    background-image: url(demon\ slayer.webp);
    background-size: cover;
    font-family: Arial, sans-serif;
}
.container {
    width: 80%;
    margin: 50px auto;
    border: 2px dashed white;
    border-radius: 15px;
    background-color: rgba(0, 0, 139, 0.8);
    color: white;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}
th {
    background-color: rgba(0, 0, 139, 0.9);
}
.highlight {
    background-color: pink;
}
tr:hover{
    background:rgb(240, 90, 90) ;
}